<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
	<link href="/css/tex.css" rel="stylesheet">
  </head>
<body>
  <div class="header vert-bg">
      <p class="header">About Me</p>
      <a href="/about/"><img class="header-icon" src="/images/settings.png" alt="Edit" style="width:40px;height:40px"></a>
  </div>
    
  <div class="content scroll">
    <div class="profile card" id="edit" contenteditable="true">
        <br>
				<center><img src="/images/profile_man.png"
				alt=""style="width:100px;height:100px"></center>
				<center><br><span class="name">John Smith</span></br></center>
				<center><br><span class="title">Entry Level Explorer</span></br></center>
        <center><img src="/images/level.png"
				alt=""style="width:300px;height:40px"></center>
    </div>
    
    <div>
                <div id="profile-button">College: Eleanor Roosevelt</div>
				<div id="profile-button">Email: sample@ucsd.edu
                </div>
    </div>
        <br>
    <div>
                <div id="profile-button">
                    <a href="/about/">Manage Friends</a>
                </div>
				<div id="profile-button">
                    <a href="/about/">Change Password</a>
				</div>
				<div id="profile-button">
                    <a href="/about/">Help &amp; Support</a>
				</div>
        <br>
        <br>
        <br>
    <!--Log out botton -->
    <center><br><a href="/"><button class="button button-red">log out</button></a></br></center>
    <br>
    </div>
  </div>

  <div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button active" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
        </a>
	</div>
</body>

</html>
