<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
	<link href="/css/tex.css" rel="stylesheet">
  </head>
<body>
  <div class="header">
    About Me
  </div>
  <div class="content">
    <div class="profile card">
				<img src="/images/profile_man.png"
				alt=""style="width:100px;height:100px">
				<span class="name">John Smith</span>
				<span class="title">Entry Level Explorer</span>
    </div>
    <div class="profile info">
			<!-- list-style-type: none; -->
			<ul>
				<li>College: Eleanor Roosevelt
				</li>
				<li>Email: sample@ucsd.edu
				</li>
			</ul>
			<ul>
				<li>Manage Friends
				</li>
				<li>Change Password
				</li>
				<li>Help &amp; Support
				</li>
			</ul>
			<!--Log out botton -->
			<a href="/">log out </a>
    </div>
  </div>
  <div class="footer">
	<a class="nav-button" href="/objective/">Objectives</a>
	<a class="nav-button" href="/recommendations/">Recommendations</a>
	<a class="nav-button" href="/">Home</a>
	<a class="nav-button" href="/ranking/">Rankings</a>
	<a class="nav-button" href="/about/">About Me</a>
  </div>
</body>

</html>
