<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
	<link href="/css/tex.css" rel="stylesheet">
  </head>
<body>
  <div class="header vert-bg">
      <p class="header">About Me</p>
      <a href="/about/"><img class="header-icon" src="/images/notification.png" alt="Edit" style="width:40px;height:40px"></a>
      <span class="nav-left login">log in</span>
      <span class="nav-left register">Register</span>
  </div>

  <div class="content scroll">
    <div class="profile card" id="edit" contenteditable="true">
      <br>
			<center>
        <img src="/images/profile_man.png" alt=""style="width:100px;height:100px">
  			<br><span class="name">John Smith</span></br>
  			<br><span class="title">Entry Level Explorer</span></br>
        <img src="/images/level.png" alt=""style="width:300px;height:40px" />
      </center>
    </div>

    <div class="profile-links">
      <div class="nav">College: Eleanor Roosevelt</div>
			<div class="nav">Email: sample@ucsd.edu</div>
      <br />
      <div class="nav" id="manage-friends">Manage Friends</div>
			<div class="nav" onclick="openChangePassword()">Change Password</div>
			<div class="nav" onclick="openHelp()">Help &amp; Support</div>
      <br />
      <br />
      <br />
      <!--Log out botton -->
      <center><br><a href="/"><button class="button button-red">log out</button></a></br></center>
      <br>
    </div>
  </div>

  <div  id="loginform" class="loginbox hidden">
    <!--Login form-->
    <form action="/accounts/" method="post"> <!--need to change action-->
        <div>
        <center>Login</center>
        username/email:<input type="text" name="username"><br>
        passward<input type="text" name="password"><br>
        <center><button id="login-submit" type="submit" value="login"/>
        <a id="login-cancel" type="button" onclick="hidelogin()" value="cancel"/></a></center>
      </div>
    </form>
  </div>
  <!--Register form-->
	<div  id="registerform" class="registerbox hidden">
		<form action="/" method="post"> <!--need to change action-->
				<div>
				<center>Register</center>
				First name:<input type="text"><br>
				Last name:<input type="text"><br>
				College:<input type="text"><br>
				email:<input type="text"><br>
				password:<input type="text"><br>
				confirm password:<input type="text"><br>
				<center><input id="login-submit" type="button" onclick="hideregister()" value="register"/>
				<input id="login-cancel" type="button" onclick="hideregister()" value="cancel"/></center>
			</div>
		</form>
	</div>

  <!--Change Password form-->
  <div  id="changePasswordForm" class="changePasswordBox hidden">
    <form action="/" method="post"> <!--need to change action-->
        <div>
        <center>Change Password</center>
        Old Password:<input type="text"><br>
        New Password:<input type="text"><br>
        Confirm New Password:<input type="text"><br>
        <center><input id="login-submit" type="button" onclick="hideChangePassword()" value="submit"/>
        <input id="login-cancel" type="button" onclick="hideChangePassword()" value="cancel"/></center>
      </div>
    </form>
  </div>

  <!--Manage Friend form-->
  <div  id="manageFriendForm" class="manageFriendBox hidden">
    <form action="/" method="post"> <!--need to change action-->
        <div>
        <center>Manage Your Friends</center>
          <br>
            &emsp;&emsp;
            <img src="/images/friend1.jpeg" style="width:150px; height=150px">
            <!--friend and unfriend button for friend1-->
            <input type="button" id="friend1" onclick="changeFriendStatus('friend1','✓friend')";
            value="✓friend" class="friendbutton">
            &emsp;&emsp;&emsp;&emsp;&emsp;
            <img src="/images/friend2.jpg" style="width:150px; height=150px">
            <!--friend and unfriend button for friend2-->
            <input type="button" id="friend2" onclick="changeFriendStatus('friend2','✓friend')";
            value="✓friend" class="friendbutton">
          </br>
          <br>
          &emsp;&emsp;
          <img src="/images/friend3.jpg" style="width:150px; height=150px">
          <!--friend and unfriend button for friend3-->
          <input type="button" id="friend3" onclick="changeFriendStatus('friend3','✓friend')";
          value="✓friend" class="friendbutton">
          &emsp;&emsp;&emsp;&emsp;&emsp;
          <img src="/images/friend4.jpg" style="width:150px; height=150px">
          <!--friend and unfriend button for friend4-->
          <input type="button" id="friend4" onclick="changeFriendStatus('friend4','✓friend')";
          value="✓friend" class="friendbutton">
          </br>
          <br>
          &emsp;
          </br>

        <center><input id="login-submit" type="button" onclick="hideManageFriend()" value="confirm"/>
        <input id="login-cancel" type="button" onclick="hideManageFriend()" value="cancel"/></center>
      </div>
    </form>
  </div>
  <!--Help and Support form-->
  <div  id="helpForm" class="helpBox hidden">
    <form action="/" method="post"> <!--need to change action-->
        <div>
        <center>Help and Support</center>
          Common Questions:
          <ol>
            <li>What should I do if I want to change my password?</li>
            <p>You can change your password in about me page</p>
            <li>What should I do if I cannot find an address?</li>
            <p>You can let others help you by adding a mission in the mission page</p>
            <li>How to add an address?</li>
            <p>Go the home page and click on the add buttom</p>
          </ol>
          <center>Contact</center>
          <center>Tel:123-456-7890</center>
        <center><input id="login-submit" type="button" onclick="hideHelp()" value="OK"/>
      </div>
    </form>
  </div>

  <div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
            <p>Missions</p>
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/discover.png" style="width:60px; height=60px">
            <p>Discover</p>
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
            <p>Home</p>
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
            <p>Ranking</p>
        </a>
		<a class="nav-button active" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
            <p>Profile</p>
        </a>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/popup.js"></script>
  <script src="/js/account-control.js"></script>
</body>
</html>
