<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
	<link href="/css/tex.css" rel="stylesheet">
  </head>
<body>
  <div class="header">
    About Me
  </div>
    
  <div class="content scroll">
    <div class="profile card" id="edit" contenteditable="true">
        <center><br><button type="edit">Edit </button></center>
        <br>
				<center><img src="/images/profile_man.png"
				alt=""style="width:100px;height:100px"></center>
				<center><br><span class="name">John Smith</span></br></center>
				<center><br><span class="title">Entry Level Explorer</span></br></center>
        <center><img src="/images/level.png"
				alt=""style="width:300px;height:40px"></center>
    </div>
    <div class="profile info">
			<!-- list-style-type: none; -->
			<ul>
                <li>College: Eleanor Roosevelt
				</li>
				<li>Email: sample@ucsd.edu
				</li>
			</ul>
			<ul>
                <li>Manage Friends
				</li>
				<li>Change Password
				</li>
				<li>Help &amp; Support
				</li>
			</ul>
    </div>
    <div>
    <!--Edit botton -->
        <br>
        <br>
    <br><br>
    <!--Log out botton -->
    <center><br><a href="/"><button class="button button-red">log out</button> </a></br></center>
    <br>
  </div>
  </div>

  <div class="footer">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
        </a>
	</div>
</body>

</html>
