<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase|Indie+Flower|Lobster|Roboto" rel="stylesheet">
    <link href="/css/mobile.css" rel="stylesheet">
</head>

<body>
	<div class="header vert-bg">
        <p class="header">Triton Explorer</p>
      	<span class="nav-left login">Log In</span>
        <img class="logo" src="/images/logo.png" style="width:60px;height:60px;"/>
	</div>

	<div class="content">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div class="fill" id="map"></div>

		<div class="upload floating-button">
			<img src="/images/upload.png" style="width:80px; height:80px">
		</div>

		<div class="upload container hidden">
			<h3>Submit New Location</h3>

<!--             <div class="add-photo">
                <br/>
                <a href="/" style="text-decoration: none; color:white">Add a Photo Here(More XP!)</a>
            </div> -->

			<form action="/index/" method="post">
				<p>
					<span class="title">Title</span><input type="text" name="title" />
				</p>
				<p>
					<span class="title">Tags</span><input type="text" name="tags" id="tags" />
				</p>
				<p>
					<span class="title">Rating (1-5)</span>
	                <!--<input type="number" name="rating" min="1" max="5" /> -->
	                <span class="starRating">
	                    <input id="rating5" type="radio" name="rating" value="5">
	                    <label for="rating5">5</label>
	                    <input id="rating4" type="radio" name="rating" value="4">
	                    <label for="rating4">4</label>
	                    <input id="rating3" type="radio" name="rating" value="3">
	                    <label for="rating3">3</label>
	                    <input id="rating2" type="radio" name="rating" value="2">
	                    <label for="rating2">2</label>
	                    <input id="rating1" type="radio" name="rating" value="1">
	                    <label for="rating1">1</label>
	                </span>
	            </p>
				<p>
					<span class="title">Description</span>
					<input type="text" name="description" /><br />
					<input type="text" name="accountid" class="accountid hidden" />
				</p>
				<p>
					<span class="title">Latitude</span>
					<input type="text" id="input-lat" name="lat" value="32.8786" />
					<span class="title">Longitude</span>
					<input type="text" id="input-lng" name="lng" value="-117.2359" />
					<input type="button" value="Detect Location" onclick="getGeoLocationConst()" /><br />
					<center>
	                    <button type="submit" id="add-location" class="button button-green">Submit</button>
	                    <span class="button button-red">Cancel</span>
	                </center>
	            </p>
			</form>
		</div>

		<div id="loginform" class="loginbox hidden">
					<div class="authentication">
						<!--Login form-->
					    <h3>Login</h3>
					    <p class="response-msg"></p>
					    username: <input type="text" id="username" placeholder="Username"><br />
					    password: <input type="password" id="password" placeholder="Password"><br />
					    <center>
					    	<span id="login-submit" class="login button" >Login</span>
					    	<span id="login-cancel" class="cancel button">Cancel</span>
					    </center>
					</div>
            <div class="authentication">
					<div class="registration">
						<h3>Register</h3>
                        <p class="response-msg"></p>
						Username: <input type="text" class="username" name="username" placeholder="Username" /><br />
						Password: <input type="password" class="password" name="password" placeholder="Password" /><br />
						Name: <input type="text" class="name" name="name" placeholder="Your Name" /><br />
						Email: <input type="text" class="email" name="email" placeholder="Your Email" /><br />
						College: <select class="college" name="college">
                          <option value="noinput">- Please Select College -</option>
                          <option value="Revelle">Revelle College</option>
                          <option value="John Muir">John Muir College</option>
                          <option value="Thurgood Marshall">Thurgood Marshall College</option>
                          <option value="Earl Warren">Earl Warren College</option>
                          <option value="Eleanor Roosevelt">Eleanor Roosevelt College</option>
                          <option value="Sixth">Sixth College</option>
                          <option value="Grad-School">Graduate School</option>
                          <option value="Faculty">Faculty Member</option>
                          <option value="Vistor">Vistor</option>
                          <option value="Other">Other</option>
                        </select>
					    <center>
					    	<span id="register-submit" class="register button">Register</span>
                            <span id="register-cancel" class="cancel button">Cancel</span>
					    </center>
					</div>
				</div>
        </div>
	</div>

	<!--overlay login page-->
	<div id="overlay" class="overlay vert-bg">
		<center>
            <img src="/images/compass.png" style="width:150px;height:150px" />
            <h3>Welcome to </h3>
            <h2>Triton Explorer!</h2>
            <div id="overlayguest">
                <p>If you just need to navigate around</p>
			     <span id="guest" class="guest start button">Guest Account</span><br/>
            </div>
            <div id="overlaylogin">
                <p>If you want to access all we offer</p>
			     <span id="login" class="login start button">Login / Register</span>
            </div>
		</center>
	</div>

	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
            <p>Missions</p>
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/discover.png" style="width:60px; height=60px">
            <p>Discover</p>
        </a>
		<a class="nav-button active" href="/index/">
            <img src="/images/home.png" style="width:60px; height=60px">
            <p>Home</p>
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
            <p>Ranking</p>
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
            <p>Profile</p>
        </a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="/js/map-control.js"></script>
	<script src="/js/account-control.js"></script>
	<script src="/js/overlay.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB82M8lTcnbfwp8lvbLN1Q30LLWAX2I-zE&libraries=places&callback=initMap"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87965734-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
