<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
	<div class="header vert-bg">
        <p class="header">Triton Explorer</p>
				<button class="login" onclick="openlogin()">log in</button>
				<button class="register" onclick="openregister()">Register</button>
	</div>

	<div class="content">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div class="fill" id="map"></div>

		<div class="upload floating-button">
			<img src="/images/find-eye.png" style="width:60px; height:60px">
		</div>

		<div class="upload container hidden">
			<p>Adding new Location</p>

			<a>Add photo here</a>

			<form action="/" method="post">
				Title: <input type="text" name="title" /><br />
				Tags: <input type="text" name="tags" /><br />
				Rating: (1-5) <input type="number" name="rating" min="1" max="5" /><br />
				Description: <input type="text" name="description" /><br />
				Latitude: <input type="text" id="input-lat" name="lat" /> Longitude: <input type="text" id="input-lng" name="lng" /><input type="button" value="Detect Location" onclick="getGeoLocationConst()" /><br />
				<button type="submit" id="add-location" class="button button-green">Submit</button>
				<span class="button button-red">Cancel</button>
			</form>
		</div>
	</div>

	<div  id="loginform" class="loginbox hidden">
 	 <!--Login form-->
 	 <form action="/" method="post"> <!--need to change action-->
 			 <div>
 			 <center>Login</center>
 			 username/email:<input type="text"><br>
 			 passward<input type="text"><br>
 			 <center><input id="login-submit" type="button"  value="login"/>
 			 <input id="login-cancel" type="button" onclick="hidelogin()" value="cancel"/></center>
 		 </div>
 	 </form>
  </div>
	<!--Register form-->
	<div  id="registerform" class="registerbox hidden">
		<form action="/" method="post"> <!--need to change action-->
				<div>
				<center>Register</center>
				First name:<input type="text"><br>
				Last name:<input type="text"><br>
				College:<input type="text"><br>
				email:<input type="text"><br>
				password:<input type="text"><br>
				confirm password:<input type="text"><br>
				<center><input id="login-submit" type="button"  value="register"/>
				<input id="login-cancel" type="button" onclick="hideregister()" value="cancel"/></center>
			</div>
		</form>
	</div>

	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button active" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
        </a>
	</div>
	<!-- This is a hack to pass the searchable titles to js -->
	<script>
		var searchable_titles = [{{#each locations}}"{{name}}",{{/each}}];
		var location_id_by_title = {
			{{#each locations}}"{{name}}": {{id}},{{/each}}
		};
		console.log(searchable_titles);
		console.log(location_id_by_title);
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="/js/map-control.js"></script>
	<script src="/js/popup.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB82M8lTcnbfwp8lvbLN1Q30LLWAX2I-zE&libraries=places&callback=initMap"></script>
</body>
</html>
