<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
	<div class="header">
		Triton Explorer
	</div>

	<div class="content">
		<div class="fill" id="map"></div>

		<div class="upload floating-button">
			<a>+</a>
		</div>

		<div class="upload container hidden">
			<p>Adding new Location</p>

			<a>Add photo here</a>

			<form>
				Title: <input type="text" name="title" /><br />
				Tags: <input type="text" name="tags" /><br />
				Rating: (1-5) <input type="number" name="rating" min="1" max="5" /><br />
				Description: <input type="text" name="description" /><br />
				<button type="submit">Submit</button>
				<a>Cancel</a>
			</form>
		</div>
	</div>

	<div class="footer">
		<a class="nav-button" href="/objective/">Objectives</a></span>
		<a class="nav-button" href="/recommendations/">Recommendations</a>
		<a class="nav-button" href="/">Home</a>
		<a class="nav-button" href="/ranking/">Rankings</a>
		<a class="nav-button" href="/about/">About Me</a>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/index.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB82M8lTcnbfwp8lvbLN1Q30LLWAX2I-zE&callback=initMap"></script>
</body>
</html>
