<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
	<div class="header">
		Missions
	</div>

	<div class="content">

	<div class="footer">
		<a href="/objective/">Objectives</a>
		<a href="/recommendations/">Recommendations</a>
		<a href="/">Home</a>
		<a href="/ranking/">Rankings</a>
		<a href="/about/">About Me</a>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
