<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
    <!--Header and header buttons-->
	<div class="header vert-bg">
        <p class="header">Missions</p>
	</div>
    
    <!--Actual Objectives-->
    <div class="content scroll">
        {{#each missions}}
        <div class="mission">
            <div>
                <img src="{{img-url}}" />
                <h2>{{name}}</h2>
                <p>{{description}}</p>
            </div>
            <br />
            <center>
                <a><button id="accept" class="button accept button-green">Accept</button></a>
                <a><button id="decline" class="button decline button-red">Decline</button></a>
            </center>
            <p class="ongoing">In progress...</p>
        </div>
        {{/each}}
	</div>
    
    
    <!--Footer-->
	<div class="footer vert-bg">
		<a  class="nav-button active" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
        </a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/popup.js"></script>
    <script src="/js/objective.js"></script>
</body>
</html>
