<!doctype html>
<meta name="viewport" content="width=device-width" />

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
	<div class="header vert-bg">
        <p class="header">Ranking</p>
        <!-- <a href="/ranking/">
            <img id="ranking-icon" class="header-icon" src="/images/clock.png" alt="Time" style="width:40px; height:40px"/>
        </a> -->
				<span class="nav-left login" >Log In</span>
        <img class="logo" src="/images/logo.png" style="width:60px;height:60px;"/>
	</div>

	<div class="content scroll">
        <div id="top-bar">
            <div id="sort-by-time"  class="hidden">
                <ul>
                    <h4>Sort by:</h4>
                    <li><a href="/ranking/">Daily</a></li>
                    <li><a href="/ranking/">Weekly</a></li>
                    <li><a href="/ranking/">Total</a></li>
                </ul>
            </div>

            <ul id="top-bar-nav">
                <li id="see-friends"><a href="/ranking/">Friends</a></li>
                <li  id="see-colleges"><a href="/ranking/">Colleges</a></li>
            </ul>
        </div>

        <div id="rank-colleges" class="hidden">
            <ol>
                <li><img src="/images/profile_man.png" style="width:60px; height=60px"/>Warren College</li>
                <li><img src="/images/profile_man.png" style="width:60px; height=60px"/>John Muir</li>
                <li><img src="/images/profile_man.png" style="width:60px; height=60px"/>Sixth College</li>
                <li><img src="/images/profile_man.png" style="width:60px; height=60px"/>Eleanor Roosevelt</li>
                <li><img src="/images/profile_man.png" style="width:60px; height=60px"/>Thurgood Marshall</li>
                <li><img src="/images/profile_man.png" style="width:60px; height=60px"/>Revelle College</li>
            </ol>
        </div>

        <div id="rank-friends">
            <ol>
                {{#each accounts}}
                    <li>
                        <img src="{{img-url}}" width="60px; height=60px" />{{name}}<br />
                        Experience: {{experience}}
                    </li>
                {{/each}}
            </ol>
        </div>

				<div id="loginform" class="loginbox hidden">
					<div class="authentication">
						<!--Login form-->
					    <h3>Login</h3>
					    <p class="response-msg"></p>
					    username: <input type="text" id="username" placeholder="Username"><br />
					    password: <input type="text" id="password" placeholder="Password"><br />
					    <center>
					    	<span id="login-submit" class="login button" >Login</span>
					    	<span id="login-cancel" class="cancel button">Cancel</span>
					    </center>
					</div>

					<div class="registration">
						<h3>Register</h3>
                        <p class="response-msg"></p>
						Username: <input type="text" class="username" name="username" placeholder="Username" /><br />
						Password: <input type="text" class="password" name="password" placeholder="Password" /><br />
						Name: <input type="text" class="name" name="name" placeholder="Your Name" /><br />
						Email: <input type="text" class="email" name="email" placeholder="Your Email" /><br />
						College: <select class="college" name="college">
                          <option value="Revelle">Revelle College</option>
                          <option value="John Muir">John Muir College</option>
                          <option value="Thurgood Marshall">Thurgood Marshall College</option>
                          <option value="Earl Warren">Earl Warren College</option>
                          <option value="Eleanor Roosevelt">Eleanor Roosevelt College</option>
                          <option value="Sixth">Sixth College</option>
                          <option value="Grad-School">Graduate School</option>
                          <option value="Faculty">Faculty Member</option>
                          <option value="Vistor">Vistor</option>
                          <option value="Other">Other</option>
                        </select>
					    <center>
					    	<span id="register-submit" class="register button">Register</span>
                            <span id="register-cancel" class="cancel button">Cancel</span>
					    </center>
					</div>
				</div>
	</div>

	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
            <p>Missions</p>
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/discover.png" style="width:60px; height=60px">
            <p>Discover</p>
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
            <p>Home</p>
        </a>
		<a class="nav-button active" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
            <p>Ranking</p>
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
            <p>Profile</p>
        </a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/ranking.js"></script>
	<script src="/js/popup.js"></script>
	<script src="/js/overlay.js"></script>
    <script src="/js/account-control.js"></script>
</body>
</html>
