<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
	<div class="header vert-bg">
		Ranking
	</div>

	<div class="content">
	</div>

	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
        </a>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
