<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
	<div class="header vert-bg">
        <p class="header">Recommendations</p>
	</div>

	<div class="content scroll" id="best-spots">
		<ul>
			<li id="toleft"><img src="/images/art_of_expresso_wood.png" style="width:600px; height=600px"/>Art of Expresso</li>
			<li id="toright">64 Degrees<img src="/images/64_degrees.png" style="width:600px; height=600px"/></li>
			<li id="toleft"><img src="/images/cafe_ventanas.png" style="width:600px; height=600px"/>Cafe Ventanas</li>
			<li id="toright">Round Table Pizza<img src="/images/round_table_pizza.png" style="width:600px; height=600px"/></li>
		</ul>
	</div>

	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button active" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
        </a>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
