<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
	<div class="header vert-bg">
        <p class="header">Recommendations</p>
	</div>

	<div class="content scroll" id="best-spots">
		{{#each locations}}
		<div class="best-spots-border">
			<p><img src="{{img-url}}" height="300px" width="400px" border="1px" /></p>
			<input type="button" id="like1" onclick="changeColor('like1','#C0C0C0')"; value="like" class="like">
			<input type="button" id="dislike1" onclick="dislikeChangeColor('dislike1','#C0C0C0')"; value="dislike" class="dislike">
			<p>{{name}}</p>
			<div  class="descriptionbox">
				{{description}}
			</div>
		</div>
		{{/each}}
	</div>

	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button active" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
        </a>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/popup.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>
