<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
	<div class="header vert-bg">
        <p class="header">Recommendations</p>
				<button class="login" onclick="openlogin()">log in</button>
				<button class="register" onclick="openregister()">Register</button>
	</div>

	<div class="content scroll" id="best-spots">
			<div id="best-spots-border">
    		<p> <img src="/images/art_of_expresso_wood.png" height="300px" width="400px" border="1px"></p>
				<input type="button" id="like1" onclick="changeColor('like1','#C0C0C0')"; value="like" class="like">
				<p>Wood next to Art of expresso</p>
				<div  class="descriptionbox">
					<form>
						Some Description
					</form>
				</div>
			</div>
			<div id="best-spots-border">
				<p ><img src="/images/64_degrees.png" height="300px" width="400px" border="1px"></p>
					<input type="button" id="like2" onclick="changeColor('like2','#C0C0C0')"; value="like" class="like">
				<p>64 Degrees</p>
				<div  class="descriptionbox">
					<form>
						Some Description
					</form>
				</div>
			</div>
			<div id="best-spots-border">
				<p><img src="/images/cafe_ventanas.png" height="300px" width="400px" border="1px"></p>
					<input type="button" id="like3" onclick="changeColor('like3','#C0C0C0')"; value="like" class="like">
				<p>Cafe Ventanas</p>
				<div  class="descriptionbox">
					<form>
						Some Description
					</form>
				</div>
			</div>
			<div id="best-spots-border">
				<p><img src="/images/round_table_pizza.png" height="300px" width="400px" border="1px"></p>
					<input type="button" id="like4" onclick="changeColor('like4','#C0C0C0')"; value="like" class="like">
				<p>Round Table Pizza in price center</p>
				<div  class="descriptionbox">
					<form>
						Some Description
					</form>
				</div>
			</div>
	</div>

	<div  id="loginform" class="loginbox hidden">
		<!--Login form-->
		<form action="/" method="post"> <!--need to change action-->
				<div>
				<center>Login</center>
				username/email:<input type="text"><br>
				passward<input type="text"><br>
				<center><input id="login-submit" type="button" onclick="hidelogin()" value="login"/>
				<input id="login-cancel" type="button" onclick="hidelogin()" value="cancel"/></center>
			</div>
		</form>
	</div>
	<!--Register form-->
	<div  id="registerform" class="registerbox hidden">
		<form action="/" method="post"> <!--need to change action-->
				<div>
				<center>Register</center>
				First name:<input type="text"><br>
				Last name:<input type="text"><br>
				College:<input type="text"><br>
				email:<input type="text"><br>
				password:<input type="text"><br>
				confirm password:<input type="text"><br>
				<center><input id="login-submit" type="button" onclick="hideregister()" value="register"/>
				<input id="login-cancel" type="button" onclick="hideregister()" value="cancel"/></center>
			</div>
		</form>
	</div>

	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button active" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
        </a>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/popup.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>
