<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
	<div class="header vert-bg">
        <p class="header">Discover</p>
	</div>

	<div class="content scroll" id="best-spots">
		{{#each locations}}
		<div class="recommendation">
			<img src="{{img-url}}" height="300px" width="400px" border="1px" />
			<br />
			<span class="button like">like</span>
			<span class="button dislike">dislike</span>
			<p>{{name}}</p>
			<div  class="descriptionbox">
				{{description}}
			</div>
		</div>
		{{/each}}
	</div>

	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
            <p>Missions</p>
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
            <p>Discover</p>
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
            <p>Home</p>
        </a>
		<a class="nav-button active" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
            <p>Ranking</p>
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
            <p>Profile</p>
        </a>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/popup.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>
