
@media screen and (max-width: 800px) {
    .header{
        font-size: 1.25em;
    }
    
    /*Move Header Login button to the left*/
    .header .nav-left.login{
        right:15px;
        padding:5px;
}
    /*Make the loginbox fit*/
    .loginbox{
        left:5%;
        width:90%;
    }
    /*Disable Auto Zoom feature on iPhone*/
    input[type='text'],
    input[type='number'],
    input[type='password'],
    textarea {
        font-size: 16px;
    }
    /*Make all the blanks in forms fit*/
    input[type=text], select{
        width:50%;
    }
    input[type=password], select{
        width:50%;
    }
    /*Make all the input button fit*/
    input[type=button], select
    {
        width:50%;
    }
    .content .upload.container {
        top:0%;
	    left: 5%;
        width:90%;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    /*Make the profile page buttons bigger*/
    .content .profile-links .nav{
        font-size:18px;
        padding-left: 10px;
        padding-right: 10px;
        width:90%
    }
    
    /*Make the overlay fit*/
    .start{
        width:80%;
	    margin-top: 20%;
    }
    
    /*Make the login and guest div in overlay fit*/
    #overlaylogin{
        padding: 2px;
        font-size:1.25em;
        margin-top: 30%;
    }

    #overlayguest{
        margin-top: 30%;
        /*min-width: 184px;*/
        font-size:1.25em;
        padding: 2px;
    }
    
}