* {
	padding:none;
	margin:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;			/* Opera/IE 8+ */
}

/* Default width of pages */
.header, .content, .footer {
	width:100%;
}

body {
    height:100%;
    min-height:100%;
}

body.blue-bg{
    background-color: #328CC1;
}

.content {
	height: 75%;
	position: relative;
}

.fill {
	width: 100%;
	height: 100%;
}

.hidden {
	display:none;
}

.vert-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#075f87+0,1f779f+100 */
    background:#286DA8; /* Old browsers */

    background: -moz-linear-gradient(top,  #286DA8 0%, #1f779f 100%); /* FF3.6-15 */

    background: -webkit-linear-gradient(top,  #286DA8 0%,#1f779f 100%); /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to bottom,  #286DA8 0%,#1f779f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#286DA8', endColorstr='#1f779f',GradientType=0 ); /* IE6-9 */
}

.header {
    position:relative;
	color: #fff;
    clear;
  /*
  075F87
  1F779F*/
	/*background: url(https://www.ucsd.edu/common/cwp/active-cherry/img/bg.jpg) repeat-x;*/
	height: 10%;
    min-height: 55px;
    z-index:100;
	text-align: center;
	font-weight:900;
    font-size: 1.5em;
	font-family: sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

p.header
{
    padding: 10px;
    position:absolute;
    right:0;
	font-weight:900;
    font-size: 1.5em;
	font-family: sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

img.header-icon{
    float:right;
    margin-top: 10px;
    margin-right: 10px;
}

html
{
    height: 100%;
}

#sort-by-time{
    z-index: 1;
    background-color: white;
    color: black;
    position:absolute;
    right:0;
    top:0;
    text-align: center;
    border: 2px solid grey;
}

#sort-by-time ul{
    padding-top:10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
    line-height: 2em;
}

#sort-by-time ul li{
    border-bottom: 1px solid rgba(0,0,0,0);
    border-bottom-width: thick;

    -webkit-transition: border-color .25s linear; /* Saf3.2+, Chrome */
       -moz-transition: border-color .25s linear; /* FF3.7+ */
         -o-transition: border-color .25s linear; /* Opera 10.5 */
            transition: border-color .25s linear;
}

#sort-by-time ul li:hover{
    border-color: grey;
}

#sort-by-time ul h4{
    font-family: fantasy;
}

#sort-by-time ul li a{
    color: black;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
}
#top-bar{
    top: 10%;
    left: 0;
    right:0;
    text-align: center;
}

#top-bar-nav{
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#286DA8;
    text-align: center;
    list-style: none;
}

#top-bar-nav li{
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
}

#top-bar-nav li a{
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

#top-bar-nav li a:hover {
    background-color: #B37D4E;
}

#rank-friends{
    position: relative;
    text-align: center;
    list-style-position: inside;
}

#rank-colleges{
    position: relative;
    text-align: center;
    list-style-position: inside;
}
#best-spots{
		font-size: 30px;
		font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    text-align:center;
    list-style-position: inside;
}

.start{
	width:50%;
	height: 20%;
	position: relative;
	margin-top: 30%;
	box-sizing: border-box;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top:10%;
		bottom:15%;
		height: 75%;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.overlaylogin{
	z-index: 1000000;
	height:100%;
	width: 100%;
}
.best-spots-border{
		margin-top:30px;
		margin-bottom: 50px;
}

.recommendation {
    /*display: inline-block;*/
    width: 80%;
    font-size: 30px;
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    text-align:center;
    /*list-style-position: inside;*/
    margin-top:30px;
    margin-bottom: 50px;
    background-color: #eee;
    padding: 30px 0px 30px 0px;
}

.recommendation .button {
  width: auto;
  height: auto;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}

.recommendation .button.like.highlight {
  background-color: #FFAE33;
}

.recommendation .button.dislike.highlight {
  background-color: #F08080;
}

.recommendation p {
  margin-top:20px;
}

.loginbox .login.button,
.loginbox .register.button {
  color: white;
	background-color:#286DA8;
	border:1px solid #4e6096;
	display:inline-block;
	border-radius: 10px;
	height: 40px;
	width:80px;
  box-shadow: 2px 2px 2px #888888;
	position:relative;
}

.loginbox .cancel.button{
    color: white;
	background-color: #CD5360;
	border:1px solid #8B0000;
	display:inline-block;
	border-radius: 10px;
	height: 40px;

    box-shadow: 2px 2px 2px #888888;
}

/*Style for missions*/
.mission{
    display: inline-block;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #328CC1;
    width: 100%;
    height: auto;
}
.mission .ongoing{
    display: none;
    text-align: center;
}
.mission img{
    position: relative;
    width: 200px;
    float:right;
}
.mission .message {
  font-size: 1.5em;
  color: #fff;
  opacity: 0.8;
  position: relative;
  top: 2em;
}

.content .upload.floating-button {
    border-radius: 15px;
	position: absolute;
    background: #CD5360;
    box-shadow: 5px 5px 5px #888888;
	left: 20px;
	bottom: 40px;
	width: 80px;
	height: 80px;
	/*background-color: #000;*/
    opacity:0.9;
	color: #fff;
}

input[type=text], select {
    width: 25%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button], select {
    background-color: #B37D4E;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.content .upload.container {
	position: absolute;
    opacity: 0.95;
    border-radius: 10px;
	top: 10%;
	left: 20%;
	width: 60%;
	text-align: center;
    padding: 10px;
	background-color: #fff;
	padding: 5px;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
}
.content .upload.container .starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.content .upload.container .starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}
.content .upload.container .starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('/images/star-off.svg');
  background-size : contain;
}

.content .upload.container .starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('/images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.content .upload.container.starRating:not(old)>label:hover:before{
    opacity: 1;
}
.content .upload.container.starRating:not(old)>label:hover ~ label:before{
    opacity: 1;
}
.content .upload.container .starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}


.content .upload.container h4{
    font-weight: 500;
    font-family: sans-serif;
}

.content .upload.container .add-photo{
    position:absolute;
    right:5px;
    height: 100px;
    width:15%;
    border-radius: 50%;
    border: 1px solid black;
    opacity: 0.8;
    background-color: #286DA8;
    color: white;
}

.content .upload.container form {
	text-align: left;
}

.content .upload.container form input,
.content .upload.container form button {
	display: inline;
}

.content .info.floating-button {
    position: absolute;
    z-index: 100;
    right: 20px;
    top: -55px;
}

.content .info.container {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  text-align: center;
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
}

.loginbox {
    position:absolute;
    top:10%;
    left:10%;
    width:80%;
    text-align:left;
    background-color: #fff;

    font-family: sans-serif;
    padding: 15px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
}
.registerbox{
    position:absolute;
		top:30%;
		left:30%;
    width:40%;
		text-align:left;
		background-color: #fff;
		font-size: 25px;
		padding: 5px;
		-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
		box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
}
.changePasswordBox{
    position:absolute;
		top:30%;
		left:20%;
    width:60%;
		text-align:left;
		background-color: #fff;
		padding: 5px;
		-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
		box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
}
.helpBox{
    position:absolute;
		top:20%;
		left:10%;
    width:80%;
		text-align:left;
		background-color: #fff;
		padding: 5px;
		-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
		box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
}
.descriptionbox{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	background-color: #fff;
	font-size: 20px;
	padding: 5px;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
}
.manageFriendBox{
    position:fixed;
    top:5%;
    left:20%;
    width:60%;
    height: auto;
    text-align:left;
    background-color: #fff;
    padding: 5px;
		-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
		box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
}
.like{
	background-color: #C0C0C0;
	color: white;
	height:30px;
	width:50px;
	border-radius: 10px;
}
.dislike{
	background-color: #C0C0C0;
	color: white;
	height:30px;
	width:50px;
	border-radius: 10px;
}
.friendbutton{
	background-color:#7892c2;
	height:25px;
	width:70px;
}
div.scroll
{
    width:100%;
    overflow: scroll;
}

.content .profile-links .nav {
    position:relative;
    right:0;
    left:0;
    margin-right:auto;
    margin-left: auto;
    min-height: 1em;
    background: white;
    margin-top: 5px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #00BFFF;
    padding: 5px;
    height: auto;
    width: 40%;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.content .profile-links .nav:hover{
    background-color:#00BFFF;
}

.content .profile-links .nav a {
    text-decoration: none;
    color: black;
}

.header .logo{

    position: absolute;
    left: 10px;
}

.header .nav-left {
  position: absolute;
  width: auto;
  top:15px;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px 10px 0 10px;
  background-color: #438496;
  color: #fff;
  text-shadow: none;
  cursor: pointer;
    opacity: 0.8;
}

.header .nav-left:hover {
    opacity: 1;
    background-color: #CD5360;
}

.header .nav-left.login {
	left:80px;
}

.header .nav-left.register {
	left:120px;
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 36px;
  line-height: 35px;
  padding: 0 20px;
  font-size: 13px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-image: -webkit-radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: -moz-radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: -o-radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: radial-gradient(center top, farthest-corner, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
}
.button:hover:before {
  background-image: -webkit-radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03));
  background-image: -moz-radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03));
  background-image: -o-radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03));
  background-image: radial-gradient(farthest-corner, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03));
}
.button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button:active:before {
  content: none;
}

.button-green {
  background: #5ca934;
  border-color: #478228 #478228 #3c6f22;
  background-image: -webkit-linear-gradient(top, #69c03b, #5ca934 66%, #54992f);
  background-image: -moz-linear-gradient(top, #69c03b, #5ca934 66%, #54992f);
  background-image: -o-linear-gradient(top, #69c03b, #5ca934 66%, #54992f);
  background-image: linear-gradient(to bottom, #69c03b, #5ca934 66%, #54992f);
}
.button-green:active {
  background: #5ca934;
  border-color: #3c6f22 #478228 #478228;
}

.button-red {
  background: #d5452f;
  border-color: #ae3623 #ae3623 #992f1f;
  background-image: -webkit-linear-gradient(top, #da5c48, #d5452f 66%, #c73d28);
  background-image: -moz-linear-gradient(top, #da5c48, #d5452f 66%, #c73d28);
  background-image: -o-linear-gradient(top, #da5c48, #d5452f 66%, #c73d28);
  background-image: linear-gradient(to bottom, #da5c48, #d5452f 66%, #c73d28);
}
.button-red:active {
  background: #d5452f;
  border-color: #992f1f #ae3623 #ae3623;
}


.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 200px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
  display:none;
}

.footer {
	/*background: url(https://www.ucsd.edu/common/cwp/active-cherry/img/bg.jpg) repeat-x;*/
	height: 15%;
    z-index: 100;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer a.nav-button {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.footer a.nav-button.active{
    background:#0000CD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0000CD, #4B0082); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0000CD, #4B0082); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0000CD, #4B0082; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0000CD, #4B0082); /* Standard syntax (must be last) */
}

.footer a.nav-button:hover:not(.active) {
	background:#438496; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0000CD, #438496); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0000CD, #438496); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0000CD, #438496); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0000CD, #438496); /* Standard syntax (must be last) */
}

/*Mobile Development*/
@media only screen  and (max-width: 736px) {
    .header{
        font-size: 2.5em;
    }

    /*Not working NEED HELP*/
    .header .logo{
        display: none;
    }

}
